@import "tailwindcss";

@theme {
  --breakpoint-xss: 200px;
  --breakpoint-xs:400px;
  --breakpoint-sm:600px;
  --breakpoint-md:800px;
  --breakpoint-lg:1024px;
  --breakpoint-xl:1280px;
  --breakpoint-2xl:1399px
}

/* Fonts and the Weight used */
.ral-300 {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }
  .ral-400 {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  .ral-500 {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  }
  .ral-600 {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  }
  .ral-700 {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }
  .ral-800 {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  }

  @media (max-width:799px) {
    
    .flx {
        display: flex;
        flex-direction: column ;
    }
    .hide {
      display: none;
  }
}